@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section style starts here */
.banner-container {
    max-width: 1320px;
    /* border: 2px solid red; */
    border-radius: 15px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) -19.5%, rgba(0, 0, 0, 0) 100%), url(./images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: overlay; */
}

.banner-content p,
h1 {
    color: white;

}

.banner-content {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.banner-content p {
    font-size: 32px;
    font-weight: 500;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
}

/* second section style starts here */
.second-section-container {
    width: 802px;
    height: 806px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 120px;

}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-container {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.midnight-party-container {
    display: flex;
    width: 1320px;
    height: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 16px;
    background-blend-mode: normal;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(/images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.midnight-party-container h1 {
    font-size: 72px;
    font-weight: 900;
}

.midnight-party-container p:nth-of-type(1) {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.midnight-party-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: left;
    width: 697px;
    height: 60px;
}

.midnight-party-2024 img {
    width: 100%;
    height: 100%;
}

.midnight-party-container p:nth-of-type(2) {
    color: rgb(255, 255, 255);
    margin-top: 48px;
    margin-left: 32px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.information {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    margin-bottom: 120px;
}

.information p {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.red-color {
    color: red;
}

.information button {
    width: 167px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin-top: 48px;
}

.coming-soon-container {
    width: 1320px;
    height: 463px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 120px;
}

.coming-soon-offer,
.coming-soon-img,
.coming-soon-2024 {
    width: 33%;
}

.coming-soon-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.coming-soon-img img {
    height: 100%;
    width: 100%;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 35px;
}


.coming-soon-offer p:nth-of-type(1) {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.coming-soon-offer p:nth-of-type(2) {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.coming-soon-offer p:nth-of-type(3) {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-right: 70px;
}

.coming-soon-2024 {
    margin-left: 118px;
}

.coming-soon-2024 p:nth-of-type(1) {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.coming-soon-2024 p:nth-of-type(2) {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 43px;
}

.coming-soon-2024 img {
    width: 140px;
    height: 140px;
}

/* holiday styles */
.holiday-section-container {
    width: 1320px;
    height: 986.07px;
    border: 2px solid red;
    margin: 0 auto;
    position: relative;
}

.holiday-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}

.holiday-text-container h5 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-text-container h2 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.solid-color {
    background-color: red;
    width: 1320px;
    height: 229px;
    position: absolute;
    top: 757px;
    z-index: -1;
}

.portfolio-container {
    width: 1320px;
    height: 1163px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 120px;
}

.portfolio-text-content p:nth-of-type(1) {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-text-content h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-text-content p:nth-of-type(2) {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 4px;
}
.portfolio-items {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.item {
    width: 424px;
    height: 450px;
}
.item {
    width: 100%;
    height: 100%;
}